<section class="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title">
                    Клиенты и партнёры
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="clients_slider">
                    <div class="owl-carousel">
                        <div class="item">
                            <a href="#" class="slide_item" style="background-image:url('../img/gazprom.png');"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>