<section class="in_numbers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="in_numbers__wrap">
                    <div class="in_numbers__title">
                        О нас в цифрах
                    </div>
                    <div class="in_numbers__list">
                        <div class="in_numbers__item">
                            <div class="in_numbers__circle">
                                <p class="circle_text">30 лет</p>
                            </div>
                            <p class="in_numbers__text">Опыт работы</p>
                        </div>

                        <div class="in_numbers__item">
                            <div class="in_numbers__circle">
                                <p class="circle_text">500+</p>
                            </div>
                            <p class="in_numbers__text">Разработано более 500 механизмов</p>
                        </div>

                        <div class="in_numbers__item">
                            <div class="in_numbers__circle">
                                <p class="circle_text">1200+</p>
                            </div>
                            <p class="in_numbers__text">Довольных клиентов</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>